/*css Contactos*/
body#contactos{
  background-image: url("https://www.gtplanet.net/wp-content/uploads/2022/08/amg-gt-at-watkins-glen-gt7.jpg");
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  height: 100svh;
}

h1 {
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
  font-size: 300%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  margin: auto;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 5px solid black;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 300px;
  height: 350px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  object-fit: cover;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#line2,
#line1 {
  display: flex;
  justify-content: center;
}
/*css Contactos*/
/*css index rally*/
/*css lateral direita*/
body#rally-index{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#rightinfo{
  float: right;
  background-color: white;
  width: 20%;
  height: 100svh;
  display: block;
  background-image: url("../img/img_daniel/fundo\ lateral\ direita.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*css lateral direita*/
#principal{
  height: 1500px;
  width: 80%;
  background-color: #2980b9;
  margin-top: 0;
}
/*Timer*/
div#timer{
  width: 95%;
  text-align: center;
  font-size: 15px;
  margin-left: calc(5% - (15px / 2));
  margin-right: calc(5% - 5px);
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: orangered;
  
}
div.timer{
  display: inline-block;
  line-height: 1;
  padding: 5px;
}

span{
  display: block;
  font-size: 10px;
  color: black;
}

#days {
  font-size: 30px;
  color: black;
}
#hours {
  font-size: 30px;
  color: black;
}
#minutes {
  font-size: 30px;
  color: black
}
#seconds{
  font-size: 30px;
  color: black
}
/*Timer*/
/*css lateral direita*/
#logoEvento{
  width: 95%;
  height: 150px;
  display: block;
  margin: auto;
}
#logoEvento img{
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
h3#titulolateral{
  color: white;
  
}
#rightTitles{
  width: 90%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding-left: 5px;
  margin: auto;
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
  margin-top: 10px;
}
/*Css calend치rio*/
#rightSchedule{
  width: 90%;
  height: fit-content;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding-left: 5px;
  margin: auto;
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
  padding-bottom: 5px;
}
.schedule{
  border-radius: 5px;
  background-color: orangered;
  margin-right: 5px;
  margin-top: 5px;
}
.scheduleArrow{
  display: table-cell;
  height: 39px;
  vertical-align: middle;
  text-align: center;
}
#seta{
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Css calend치rio*/
/*css lateral direita*/
/*css esquerda*/
/*css Mini-Caixas de Noticias*/
div#caixa1{
  width: 100%;
  height: 260px;
  background-image: url("../img/img_daniel/despiste.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 10px;
  border-radius: 5px;
}
div#caixa2{
  width: 100%;
  height: 260px;
  background-image: url("../img/img_daniel/1-Rovanpera-Toyota-VRP-900.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 10px;
  border-radius: 5px;
}
div#caixa3{
  width: 100%;
  height: 260px;
  background-image: url("../img/img_daniel/VODAFONE-RALLY-PORTUGAL-AL-ATTIYAH.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 10px;
  border-radius: 5px;
}
div#caixa4{
  width: 100%;
  height: 260px;
  background-image: url("../img/img_daniel/Kalle\ Rovanpera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-top: 10px;
  border-radius: 5px;
}
div.descricaoNoticia{
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*css p칩dio*/
#winners{
  width: 90%;
  height: 500px;
  background-image: url(../img/img_daniel/fundo\ vencedor.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 15px;
}
div.vencedor{
  width: calc(100% / 3);
  height: 500px;
  background-image: url(../img/max.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}
.vencedorDentro{
  float: left;
  width: 150px;
  height: 500px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
}
#firstplace{
  width: 100%;
  height: fit-content;
  color: white;
  padding: 5px;
}
/*css p칩dio*/
#news{
  padding-top: 30px;
  width: 90%;
  height: fit-content;
  margin: auto;
}
.bd-example{
  width: 90%;
  margin: auto;
  height: 500px;
  margin-top: 10px;
  overflow: hidden;
}
.bd-example img{
  object-fit: cover;
  height: 500px;
  object-position: center;
}
.carousel-caption{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1540265764508929) 100%);
}
/*css Mini-Caixas de Noticias*/
/*css esquerda*/
/*css index rally*/