body {
    background-color: #f2f2f2;
    width: 100%;
}

h1.titulo {
    margin-top: 10px;
    text-align: center;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}

.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    width: 50%;
    padding: auto;
}

.active,
.faq-page:hover {
    background-color: rgb(242, 242, 242);
}

.faq-body {
    padding: 0 18px;
    background-color: rgb(242, 242, 242);
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

main {
    height: auto;
}


/*Showroom*/
.bar-wrapper h1,
.bar-wrapper p {
    margin-top: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.bar {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.bar-wrapper {
    position: absolute;
    width: 75%;
    height: auto;
    bottom: 10%;
    left: 12.5%;
    z-index: 1;
    background-color: rgba(56, 54, 54, 0.816);
    border-radius: 10px;
}

.title,
.descr {
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

.bar-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    filter: grayscale(90%);
}

.bar-img:hover {
    transform: scale(1.1);
    transition: 2s;
    filter: none;
}

#leftBar {
    background-image: url(../img/carros_back.jpg);
}

#rightBar {
    background-image: url(../img/equip_back.jpg);
}

.bar a {
    color: inherit;
    text-decoration: none;
}



@media (max-width: 768px) {
    .bar-wrapper {
        width: 90%;
        left: 5%;
    }

    .bar-img {
        height: 50vh;
    }

    .col-md-6.order-md-2.order-1 {
        order: 2;
    }

    .col-md-6.order-md-1.order-2 {
        order: 1;
    }
}

@media (max-width: 576px) {
    .bar-wrapper {
        width: 95%;
        left: 2.5%;
    }

    .bar-img {
        height: 30vh;
    }

    .title,
    .descr {
        margin-left: 10px;
    }
}

/*Showrrom carros e equipamentos - Lista*/
.card-image {
    width: auto;
    height: 180px;
    object-fit: cover;
}

#pesquisa {
    margin-bottom: 5%;
}

.card-container {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Ocultar skroll*/
.card-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/*Showrrom carro e equipamentos info*/
.showroom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424242da;
    width: 90%;
    max-width: 800px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-details {
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.car-details h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.car-details p {
    margin-bottom: 5px;
}

.car-image img {
    border-radius: 5px;
    width: 760px;
    max-width: 760px;
    height: auto;
}

#desc {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .showroom {
        margin-top: 20px;
    }

    .car-info {
        width: 95%;
        padding: 10px;
    }

    .car-image img {
        max-width: 100%;
    }

    p, h2, h5{
        font-size: 80%;
    }
}


/*Carros-Admin, Carros-Admin-Insert, Carros-Admin-Edit*/
/*Equipamentos-Admin, Equipamentos-Admin-Insert, Equipamentos-Admin-Edit*/
h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.form-control {
    font-size: 14.4px;
}

.table {
    table-layout: fixed;
}

.table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;;
  }

div.table-container {
    max-height: 60vh; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo excede a altura máxima */

}

/* Ocultar skroll*/
div.table-container::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
}

div.table-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}


@media (max-width: 576px) {

    /* Regras CSS específicas para telas móveis */
    div.container {
        padding: 10px;
    }
}