body {
    background-color: #f2f2f2;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.hr-line {
    width: 60%;
    margin: auto;

}

.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}

.faq-body {
    margin: auto;
    text-align: center; 
    width: 50%;
    padding: auto;

}


.active,
.faq-page:hover {
    background-color: rgb(242, 242, 242);
}

.faq-body {
    padding: 0 18px;
    background-color: rgb(242, 242, 242);
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
/*FAQ*/

/*Showroom*/
h1.titulo{
    padding-top: 1.5%;
    padding: 20px 60px;
    text-align: center;
}

div.col-md-5{
    margin-top: 10px;
    background-color: #444343;
    border-radius: 20px;
    height: 350px;
    transition-duration: 800ms;
}

div.col-md-5:hover {
    transform: scale(105%);
    cursor: pointer;
}

div.img-1, div.img-2{
    height: 89%;
    width: calc(100% + 6.8%);
    margin-left: -3.4%;
}

div.img-1{
    background-image: url(../img/f1-luis.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.img-2{
    background-image: url(../img/equipamento-luis.jpg);
    border-radius: 20px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h3{
    color: white;
    text-align: center;
}
