@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Righteous&family=Space+Grotesk&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

nav {
    background-color: rgb(255, 123, 0);
    color: black;
}

nav a {
    transition-duration: 380ms;
    color: black;
}

nav#admin a:hover{
    backdrop-filter: brightness(60%);
}

nav#admin{
    background-color: #2c75fd;
    color: white;
}

nav#admin a{
    color: white;
}

nav#admin button{
    color: white;
}

