body {
    background-color: rgb(242, 242, 242);
    text-align: center;
}

h1 {
    margin-top: 3%;
}

div.mainWrapper {
    padding-left: 10svw;
    padding-right: 10svw;
}

.privPolicy {
    text-align: center;
    font-weight: 400;
    font-size: 110%;
}

.privPolicy ul {
    text-align: justify;
}

div.results {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
}

.resBack {
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/driver-backg.jpg);
}

.outerCard {
    transition-duration: 800ms;
    position: relative;
    height: 100%;
    background-color: #4d4d4d;
    margin: 30px;
    border-radius: 15px;
}

.outerCard-img {
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.resultCard {
    height: 260px;
    width: 380px;
    background-color: black;
    border-radius: 15px;
    display: flex;
}

div.outerCard:hover {
    transform: scale(105%);
    cursor: pointer;
}

.resultCard#f1 {
    background-color: #FF1801;
    background: linear-gradient(0deg, #c61100 0%, #FF1801 100%);
    color: white;
}

.resultCard#wrc {
    background: rgb(40, 78, 134);
    background: linear-gradient(0deg, rgba(40, 78, 134, 1) 0%, rgba(78, 155, 255, 1) 100%);
    color: white;
}

.resultCard#wec {
    background-color: #00b430;
    background: linear-gradient(0deg, #018224 0%, #00a72d 100%);
    color: white;
}

div.number {
    font-family: 'Righteous', cursive;
    font-size: 300%;
    height: 20%;
    margin-top: 10%;
}

div.place {
    display: grid;
    justify-content: center;
    text-align: center;
    border-right: 1px solid black;
    width: 33%;
}

div.place:last-child {
    border: 0;
}

div.driverPic {
    /* border: 1px solid black; */
    margin-top: 8%;
    width: 90%;
    height: fixed;
    margin-left: auto;
    margin-right: auto;
}

div.driverPic img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


div.driverName {
    margin-left: 12%;
    padding-top: 5%;
    text-align: left;
}

.driverName .firstName {
    margin: 0;
    padding: 0;
    font-size: 120%;
}

.driverName .lastName {
    line-height: 60%;
    font-weight: 100;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

.newsBox {
    display: inline-flex;
    justify-content: center;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
}

.newsBox .card {
    transition-duration: 212ms;
    border: 2px solid gainsboro;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
}

.newsBox .card:hover {
    cursor: pointer;
    border-color: #4d4d4d;
    box-shadow: 0px 0px 15px;
    transform: scale(105%);
}

form#news {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.grid-item {
    /**border: 1px solid black;**/
    padding: 10px;
}

.join {
    grid-row: span 2;
}

#image-preview {
    background-image: url("http://via.placeholder.com/250x180");
    width: 250px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

table#newsManage{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}





/*Responsive*/

@media screen and (max-width: 750px) {

    .resBack {
        width: auto;
        height: auto;
        background-size: cover;
    }

    .results {
        width: 100svw;
        margin: 0;
        padding: 0;
        max-width: fit-content;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .newsBox {
        display: grid;
        justify-content: center;
    }

    .newsBox .card {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 2%;
        width: 70%;
    }

}