html,
body {
    margin: 0;
    padding: 0;
    background-image: url('backgdPG.jpg');
    background-repeat: repeat;
}

#container {
    border: 3px solid black;
    background-color: wheat;
    padding-top: 10px;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}